RewriteEngine On

RewriteRule ^style\.css$ style/style.php?p=style.scss [L,NC]

RewriteCond %{HTTP_HOST} ^en\.cstudy\.me
RewriteRule ^(.*)$ $1?lang=en [L,NC,QSA]


RewriteCond %{HTTP_HOST} !^cstudy\.me$ [NC]
RewriteCond %{HTTP_HOST} !^en\.cstudy\.me [NC]
RewriteCond %{HTTP_HOST} !^www\.cstudy\.me [NC]
RewriteRule ^(.*)$ - [L,R=404]