
// ********* Constants *********** //


// ** Colors ** //

$button_yes_color: #00b600;
$button_no_color: #f94c43;
$menu_button_color: #F1DDA5;

$menu_button_image: linear-gradient(lighten($menu_button_color, 40%), $menu_button_color);

// ** Fonts ** //

$hebrew_font: arial;
$english_font: serif;

// ** Sizes ** //

$button_yes_no_font_size: 5vh;
$menu_button_font_size: 6vh;

$title_height: 16.8vh;
$color_height: 32.9vh;
//             32.9vh;
$button_yes_no_height: 16.33vh;

// ********** Templates *********** //

@mixin crossBrowser($property, $css) {
  -webkit-#{$property} : $css;
  -moz-#{$property} : $css;
  -o-#{$property} : $css;
  -ms-#{$property} : $css;
  #{$property} : $css;
}

.unselectable {
  @include crossBrowser(user-select, none);
  cursor: default;
}

@mixin text-button($color, $font_size) {
  @extend .unselectable;
  font-size: $font_size;
  text-align: center;
  cursor: default;
  background-color: $color;
  border: burlywood 3px groove;
  border-radius: 1.1vh;
  &:hover {
    background-color: lighten($color, 15%);
  }
  &:active {
    background-color: lighten($color, 30%);
  }
}

.buttons_yes_no {
  width: 50%;
  height: $button_yes_no_height;
}

html:lang(he) { font-family: $hebrew_font; }
html:lang(en) { font-family: $english_font; }
body {
  background-color: #d8d8d8;
  width: 768px;
  margin: auto;
  border: black 1px solid;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0;
    border: 0;
  }
}

.menu_button {
  height: 28.5vh;
  @include text-button($menu_button_color, $menu_button_font_size);
}

.thanks_button {
  @extend .menu_button;
  height: 23vh;
}

.quiz1, .thanks {
  display: none;
}

table {
  width: 100%;
  border-spacing: 0;
}
.menu, .thanks { height:100%; }
.tb2 {
  border-spacing: 0.3vh;
  background-color: #c6fbff;
}
.color {
  width: 100%;
  height: $color_height;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 0% 100%;
  transition: background-size .3s;
}

.text {
  text-align: start;
  padding: 3vh 1.6vh;
  background-color: #eeeeee;
  border-bottom: black 1px solid;
}
:lang(he) .text { font-size: 2vh !important; }
:lang(en) .text { font-size: 1.8vh !important; }

#c2 td {
  border-bottom: black 1px solid;
}

.top {
  text-align: center;
  height: $title_height;
  font-size: 5vh;
  background-color: #c6fbff;
  border-bottom: black 1px solid;
}


html[dir='ltr'] .tb1 {
  direction: rtl;
}
html[dir='ltr'] .tb1 tr td {
  direction: ltr;
}

.top-left {
  position: relative;
  height: 100%;
  width: 100%;
}


.button_yes {
  @extend .buttons_yes_no;
  @include text-button($button_yes_color, $button_yes_no_font_size);
}
.button_no  {
  @extend .buttons_yes_no;
  @include text-button($button_no_color, $button_yes_no_font_size);
}

:lang(he) .top, :lang(he) .buttons td {font-size: 5vh}
:lang(en) .top, :lang(en) .buttons td {font-size: 3.7vh}

img {
  max-height: 100%;
  max-width: 100%;
}

.img_disabled {
  @include crossBrowser(filter, grayscale(100%));
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  opacity: 0.5;
}
.img_button:not(.img_disabled):hover {
  @include crossBrowser(filter, hue-rotate(31deg));
}
.img_button:not(.img_disabled):active {
  @include crossBrowser(filter, hue-rotate(31deg));
  opacity: 0.7;
}